.box-bg .tile{
    border-radius: 10px;
    border:unset;
}
.box-bg h6 {
 color:#ffffff !important;
 font-weight: bolder;
}

.box-bg .bg-danger{
   background:#f76863 !important;
}

.box-bg .bg-primary{
    background:#a1c3f7 !important;
 }
 .box-bg .bg-success{
    background:#98c989 !important;
 }

 .row.display-flex {
   display: flex;
   flex-wrap: wrap;
 }
 .row.display-flex > [class*='col-'] {
   display: flex;
   flex-direction: column;
 }

 tbody:nth-child(even) {background: #CCC}
 tbody:nth-child(odd) {background: #FFF}

 .table-striped tbody.call-log-tbody tr:nth-of-type(2n+1){
   background: none;
 }
 .table-striped tbody.call-log-tbody tr:nth-of-type(2n){
   background: none;
 }
@media screen and (min-width: 576px) {
   #call_log_Modal .modal-dialog {
      max-width: 820px !important;
      margin: 30px auto;
   }
}