`{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard | Lintel {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'collection/css/style.css' %}?{{version}}">
{% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="admin_dashboardCtl" ng-init="getDashboard()">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>
            <ul class="nav navbar-nav float-md-right">
<!--                <li class="nav-item dropdown">-->
<!--                    <div class="form-group nav-link">-->
<!--                        <div class="col-sm-5">-->
<!--                            <input class="form-control" type="date" ng-model="from_date">-->
<!--                        </div>-->
<!--                        <div class="col-sm-5">-->
<!--                            <input class="form-control" type="date" ng-model="to_date">-->
<!--                        </div>-->
<!--                        <div class="col-sm-2">-->
<!--                            <button type="button" id="doSubmit" class="btn btn-info waves-effect waves-light" ng-click="GetCount()">GO</button>-->
<!--                            <a href='#' ng-click="resetDateFilter()" >Reset</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					<h5>Dashboard</h5>
				</form>
			</div>

        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div ng-show="showLoader" id="overlay">
    <div ng-show="showLoader" class="loader"></div>
</div>
{% verbatim %}

<div id='white-box' class="box box-block bg-white box-bg">
<div class="text-muted mb-1"><span style="font-size:16px; color:#373a3c">Overall Portfolio</span>
        <span style="float:right">
            <select id="state_name" name="state_name" ng-model="state_name"
                    ng-change="getDashboardByState()" ng-options="s.name as s.name for s in state_list" >
                <option value="" label="All State" selected>All State</option>
            </select>
            <select id="month" name="month" ng-model="month"
                    ng-change="getDashboardByMonth()" ng-options="m.id as m.name for m in month_list">
            </select>
        </span>
 </div>
<div class="row display-flex row-md">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.lead_assign_count}}</h2>
                <h6 class="text-uppercase mb-1">Count</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.tos}}</h2>
                <h6 class="text-uppercase mb-1">TOS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.pos}}</h2>
                <h6 class="text-uppercase mb-1">POS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.ptp_count}}</h2>
                <h6 class="text-uppercase mb-1">Total PTP</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.total_ptp_pos}}</h2>
                <h6 class="text-uppercase mb-1">PTP POS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.ptp_percentage}}%</h2>
                <h6 class="text-uppercase mb-1">PTP%</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-danger tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.ptp_amount_value}}</h2>
                <h6 class="text-uppercase mb-1">PTP Amount</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-danger tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.payment_count}}</h2>
                <h6 class="text-uppercase mb-1">Total Collection</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.payment_amount}}</h2>
                <h6 class="text-uppercase mb-1">Collection Amount</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.resolution_payment}}%</h2>
                <h6 class="text-uppercase mb-1">Resolution</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.resolution_tos}}%</h2>
                <h6 class="text-uppercase mb-1">Resolution TOS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.resolution_pos}}%</h2>
                <h6 class="text-uppercase mb-1">Resolution POS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.settlement_count}}</h2>
                <h6 class="text-uppercase mb-1">Settlement</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.total_settlement_pos}}</h2>
                <h6 class="text-uppercase mb-1">Settlement POS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.settlement_amount}}</h2>
                <h6 class="text-uppercase mb-1">Settlement Amount</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.settlement_ratio}}%</h2>
                <h6 class="text-uppercase mb-1">Settlement Ratio</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.emi_payment_count}}</h2>
                <h6 class="text-uppercase mb-1">EMI</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{followup_data.emi_payment_amount}}</h2>
                <h6 class="text-uppercase mb-1">EMI Amount</h6>
            </div>
        </div>
    </div>
</div>
</div>

<div id='white-box' class="box box-block bg-white box-bg">
<div class="text-muted mb-1"><span style="font-size:16px; color:#373a3c">Resource wise Performance</span>
        <span style="float:right">
            <select style="width:200px"  id="user" name="user" ng-model="user" ng-change="getDashboardByResource()"
                    ng-options="p.id as p.first_name + ' ' + p.last_name for p in user_list" >
                <option label="Select" value="" selected>Select Resource</option>
            </select>
        </span>
 </div>
</div>


<div id='white-box' class="box box-block bg-white box-bg" ng-show="user">
    <div class="text-muted mb-1"><span style="font-size:14px; color:#373a3c">Today's Portfolio</span></div>

<div class="row display-flex row-md" ng-show="user">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.today_data.total_attempt}}</h2>
                <h6 class="text-uppercase mb-1">Total Attempt</h6>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.today_data.unique_attempt_count}}</h2>
                <h6 class="text-uppercase mb-1">Unique Attempt</h6>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.today_data.connect_count}}</h2>
                <h6 class="text-uppercase mb-1">Connect</h6>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.today_data.ptp_count}}</h2>
                <h6 class="text-uppercase mb-1">PTP</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.today_data.ptp_amount_value}}</h2>
                <h6 class="text-uppercase mb-1">PTP Value</h6>
            </div>
        </div>
    </div>

</div>
</div>

 <div id='white-box' class="box box-block bg-white box-bg" ng-show="user">
    <div class="text-muted mb-1"><span style="font-size:14px; color:#373a3c">Overall Portfolio</span></div>

<div class="row display-flex row-md" ng-show="user">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.lead_assign_count}}</h2>
                <h6 class="text-uppercase mb-1">Allocation</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.tos}}</h2>
                <h6 class="text-uppercase mb-1">TOS</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-primary tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.pos}}</h2>
                <h6 class="text-uppercase mb-1">POS</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.total_attempt}}</h2>
                <h6 class="text-uppercase mb-1">Total Attempts</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.unique_attempt_count}}</h2>
                <h6 class="text-uppercase mb-1">Unique Attempts</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-danger tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.attempt_pending_count}}</h2>
                <h6 class="text-uppercase mb-1">Attempts Pending</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.connect_count}}</h2>
                <h6 class="text-uppercase mb-1">Connects</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-danger tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.connect_pending_count}}</h2>
                <h6 class="text-uppercase mb-1">Connects Pending</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.avg_connect_per_case}}%</h2>
                <h6 class="text-uppercase mb-1">Avg. Connect per case</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.ptp_count}}</h2>
                <h6 class="text-uppercase mb-1">PTP</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.ptp_amount_value}}</h2>
                <h6 class="text-uppercase mb-1">PTP AMOUNT</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-success tile tile-1 mb-2">
            <div class="t-content">
                <h2 class="mb-1">{{resource_data.ptp_percentage}}%</h2>
                <h6 class="text-uppercase mb-1">PTP%</h6>
            </div>
        </div>
    </div>

</div>

<div class="row display-flex row-md" ng-show="user">
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">

           <div class="t-content">
               <h2 class="mb-1">{{resource_data.payment_count}}</h2>
               <h6 class="text-uppercase mb-1">Payment</h6>
           </div>
       </div>
   </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">

           <div class="t-content">
               <h2 class="mb-1">{{resource_data.payment_amount}}</h2>
               <h6 class="text-uppercase mb-1">Payment Amount</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.resolution_payment}}%</h2>
               <h6 class="text-uppercase mb-1">Resolution</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.resolution_tos}}%</h2>
               <h6 class="text-uppercase mb-1">Resolution TOS</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.resolution_pos}}%</h2>
               <h6 class="text-uppercase mb-1">Resolution POS</h6>
           </div>
       </div>
    </div>

</div>

<div class="row display-flex row-md" ng-show="user">
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.settlement_count}}</h2>
               <h6 class="text-uppercase mb-1">Settlement</h6>
           </div>
       </div>
   </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.settlement_amount}}</h2>
               <h6 class="text-uppercase mb-1">Settlement Amount</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{followup_data.settlement_ratio_pos}}%</h2>
               <h6 class="text-uppercase mb-1">Settlement Ratio ON POS</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{followup_data.settlement_ratio_tos}}%</h2>
               <h6 class="text-uppercase mb-1">Settlement Ratio on TOS</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.emi_payment_count}}</h2>
               <h6 class="text-uppercase mb-1">EMI</h6>
           </div>
       </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-success tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.emi_payment_amount}}</h2>
               <h6 class="text-uppercase mb-1">EMI Amount</h6>
           </div>
       </div>
    </div>
</div>

<div class="row display-flex row-md" ng-show="user">
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-primary tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.attempt_ratio}}%</h2>
               <h6 class="text-uppercase mb-1">Attempt Ratio</h6>
           </div>
       </div>
   </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-primary tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.connect_ratio}}%</h2>
               <h6 class="text-uppercase mb-1">Connect Ratio</h6>
           </div>
       </div>
   </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-primary tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.ptp_ratio_allocation}}%</h2>
               <h6 class="text-uppercase mb-1">Ptp Ratio on allocation</h6>
           </div>
       </div>
   </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
       <div class="box box-block bg-primary tile tile-1 mb-2">
           <div class="t-content">
               <h2 class="mb-1">{{resource_data.ptp_ratio_connect}}%</h2>
               <h6 class="text-uppercase mb-1">Ptp Ratio on connect</h6>
           </div>
       </div>
   </div>
</div>

</div>

{% endverbatim %}

</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/admin-dashboard.js' %}?{{version}}"></script>
{% endblock %}
