{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'collection/image/logo-small.png' %}?{{version}}"/>
		<link rel="stylesheet" href="{% static 'collection/theme/bootstrap4/css/bootstrap.min.css' %}?{{version}}">
		<link rel="stylesheet" href="{% static 'collection/theme/themify-icons/themify-icons.css' %}?{{version}}">
		<link rel="stylesheet" href="{% static 'collection/theme/font-awesome/css/font-awesome.min.css' %}?{{version}}">
	    <!-- <link rel="stylesheet" href="{% static 'collection/theme/animate.css/animate.min.css' %}?{{version}}"> -->
		<!-- <link rel="stylesheet" href="{% static 'collection/theme/jscrollpane/jquery.jscrollpane.css' %}?{{version}}"> -->
		<!-- <link rel="stylesheet" href="{% static 'collection/theme/waves/waves.min.css' %}?{{version}}"> -->
		<!-- <link rel="stylesheet" href="{% static 'collection/theme/switchery/dist/switchery.min.css' %}?{{version}}"> -->
		<!-- <link rel="stylesheet" href="{% static 'collection/theme/morris/morris.css' %}?{{version}}"> -->
		<!-- <link rel="stylesheet" href="{% static 'collection/theme/jvectormap/jquery-jvectormap-2.0.3.css' %}?{{version}}"> -->
		<link rel="stylesheet" href="{% static 'collection/theme/css/core.css' %}?{{version}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
		
<style>
.loader {
    background: url('/static/collection/image/processing.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

</style>
		{% block css_files %}{% endblock %}
	</head>
	<body class="fixed-sidebar fixed-header skin-default content-appear" onload="startTime()">
		<div class="wrapper">

			<!-- Preloader -->
			<div class="preloader"></div>

			{% include 'sidebar.html' %}

			{% block header %}{% endblock %}

			<div class="site-content">
				<!-- Content -->
				<div class="content-area py-1">
					<div class="container-fluid">
						<!-- <div id='white-box' class="box box-block bg-white"> -->
						{% block content %}

                    	{% endblock %}
						<!-- </div> -->
					</div>
				</div>

				<!-- Footer -->
				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-xs-center">
							<div class="col-sm-4 text-sm-left mb-0-5 mb-sm-0">
								<a class="nav-link" style="color: grey;" target="_blank" href="https://lintelindia.com/">Help</a>

							</div>
							<div class="col-sm-8 text-sm-right">
								<ul class="nav nav-inline l-h-2">
									<li class="nav-item"><a class="nav-link" style="color: grey;" target="_blank" href="https://lintelindia.com/">Powered By © Lintel Technologies Pvt Ltd</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>

		</div>

		<!-- Vendor JS -->
		<script type="text/javascript" src="{% static 'collection/theme/jquery/jquery-3.3.1.min.js' %}?{{version}}"></script>

		<script type="text/javascript">
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $(document).ready(function() {
                var access_token = getCookie('access_token');
                header_config = {
                    "Authorization": "Token " + access_token
                };
<!--                console.log(header_config);-->
            });
        </script>
		<!-- <script type="text/javascript" src="{% static 'collection/theme/tether/js/tether.min.js' %}?{{version}}"></script> -->
		<script type="text/javascript" src="{% static 'collection/theme/bootstrap4/js/bootstrap.min.js' %}?{{version}}"></script>
		<script type="text/javascript" src="{% static 'collection/theme/detectmobilebrowser/detectmobilebrowser.js' %}?{{version}}"></script>
		<script type="text/javascript" src="{% static 'collection/theme/jscrollpane/jquery.mousewheel.js' %}?{{version}}"></script>
		<!-- <script type="text/javascript" src="{% static 'collection/theme/jscrollpane/mwheelIntent.js' %}?{{version}}"></script> -->
		<script type="text/javascript" src="{% static 'collection/theme/jscrollpane/jquery.jscrollpane.min.js' %}?{{version}}"></script>
		<!-- <script type="text/javascript" src="{% static 'collection/theme/jquery-fullscreen-plugin/jquery.fullscreen-min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/waves/waves.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/switchery/dist/switchery.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/flot/jquery.flot.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/flot/jquery.flot.resize.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/flot.tooltip/js/jquery.flot.tooltip.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/CurvedLines/curvedLines.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/TinyColor/tinycolor.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/sparkline/jquery.sparkline.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/raphael/raphael.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/morris/morris.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/jvectormap/jquery-jvectormap-2.0.3.min.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/jvectormap/jquery-jvectormap-world-mill.js' %}?{{version}}"></script> -->
		<script type="text/javascript" src="{% static 'collection/theme/peity/jquery.peity.js' %}?{{version}}"></script>

		<!-- Neptune JS -->
		<script type="text/javascript" src="{% static 'collection/theme/js/app.js' %}?{{version}}"></script>
		<!-- <script type="text/javascript" src="{% static 'collection/theme/js/demo.js' %}?{{version}}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'collection/theme/js/index.js' %}?{{version}}"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
		<script src="{% static 'collection/js/angular/angular.min.js' %}?{{version}}"></script>
		<script src="{% static 'collection/js/logout.js' %}?{{version}}"></script>

			<!-- Cookie -->
        <script type="text/javascript">
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
		{% block js_files %}{% endblock %}
	</body>

</html>