{% extends "base.html" %}
{% load static %}
{% block title %} Customer Details | Lintel {% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'collection/theme/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}?{{version}}">
<link rel="stylesheet" href="{% static 'collection/theme/clockpicker/dist/bootstrap-clockpicker.min.css' %}?{{version}}">
<link rel="stylesheet" href="{% static 'collection/css/style.css' %}?{{version}}">

{% endblock %}

{% block header %}
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

            <div class="header-form float-md-left ml-md-2">
	            <h5> Customer Loan Details</h5>
			</div>

        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-app="myApp" ng-controller="detailCtl" ng-init="getCustomer()">

    <div ng-show="showLoader" id="overlay">
        <div ng-show="showLoader" class="loader"></div>
    </div>

<form id='customer_form' name='form' novalidate>
    <div class="box box-block bg-white">
            <h6>Customer Details
                <span class="font-80 text-muted mb-1" style="float:right;"><i> Lead:
                    <span ng-repeat="r in customer.lead_recycle" style=" background-color:#FFFF99">
                    {% verbatim %} {{r.month}} &nbsp {% endverbatim %}
                    </span></i></span>
            </h6>
            <p class="font-90 text-muted mb-1"></p>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="application_id" class="control-label">Application ID</label>
                        <input type="text" class="form-control" id="application_id" name="application_id" ng-model="customer.application_id" ng-disabled="true">
                        <input type="hidden" id="user_id" name="user_id" ng-model="user_id" ng-init="user_id ='{{request.user.id}}'">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    <div class="col-sm-3">
                        <label for="loan_agreement_number" class="control-label">Loan Agreement Number</label>
                        <input type="text" class="form-control" id="loan_agreement_number" name="loan_agreement_number" ng-model="customer.loan_agreement_number" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-6">
                        <label for="name" class="control-label">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="customer.name" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="address" class="control-label">Address</label>
                        <textarea class="form-control" id="address" name="address"
                                  ng-model="customer.address" ng-disabled="true"></textarea>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="alternate_address" class="control-label">Alternate Address</label>
                        <textarea class="form-control" id="alternate_address" name="alternate_address"
                                  ng-model="customer.alternate_address" ng-blur="validateInput(form.alternate_address)"></textarea>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="vehicle_status" class="control-label">Vehicle Status</label>
                        <select class="form-control" id="vehicle_status" name="vehicle_status" ng-model="customer.vehicle_status"
                                ng-options="p.id as p.name for p in vehicle_status_list" ng-blur="validateInput(form.vehicle_status)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="contact_number_1" class="control-label">Contact Number 1</label>
                        <div class="input-group">
                        {% if 'admin' in group_list %}
                        <input type="text" class="form-control" id="contact_number_1" name="contact_number_1" ng-model="customer.contact_number_1" ng-disabled="true">
                        {% else %}
                        <input type="password" class="form-control" id="contact_number_1" name="contact_number_1" ng-model="customer.contact_number_1" ng-disabled="true">
                        {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="click_to_call(customer.contact_number_1)">Call</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="contact_number_2" class="control-label">Contact Number 2</label>
                        <div class="input-group">
                        {% if 'admin' in group_list %}
                        <input type="text" class="form-control" id="contact_number_2" name="contact_number_2" ng-model="customer.contact_number_2" ng-disabled="true">
                        {% else %}
                        <input type="password" class="form-control" id="contact_number_2" name="contact_number_2" ng-model="customer.contact_number_2" ng-disabled="true">
                        {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="click_to_call(customer.contact_number_2)">Call</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="contact_number_3" class="control-label">Contact Number 3</label>
                        <div class="input-group">
                        {% if 'admin' in group_list %}
                            <input type="text" class="form-control" id="contact_number_3" name="contact_number_3" ng-model="customer.contact_number_3" ng-keypress="isNumber($event)">
                        {% else %}
                            <input type="password" class="form-control" id="contact_number_3" name="contact_number_3" ng-model="customer.contact_number_3" ng-keypress="isNumber($event)">
                        {% endif %}
                            <span class="input-group-btn">
                                <button ng-if="customer.contact_number_3" class="btn btn-primary" type="button" ng-click="click_to_call(customer.contact_number_3)">Call</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label for="call_event" class="control-label" style="color:white">Call Event Details</label>
                        <button id="call_event" class="btn btn-primary" data-toggle="modal" ng-click="getClickToCallLog()" style="">Call Log</button>
                    </div>

                    <div class="col-sm-1">
                        <label for="ivr" class="control-label" style="color:white">IVR</label>
                        <button id="ivr" class="btn btn-primary" data-toggle="modal" data-target="#call_log_Modal" style="">IVR</button>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="branch" class="control-label">Branch</label>
                        <input type="text" class="form-control" id="branch" name="branch" ng-model="customer.branch" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="state_name" class="control-label">State</label>
                        <input type="text" class="form-control" id="state_name" name="state_name" ng-model="customer.state_name" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="collection_manager" class="control-label">Collection Manager</label>
                        <input type="text" class="form-control" id="collection_manager" name="collection_manager" ng-model="customer.collection_manager" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="collection_manager_contact_number" class="control-label">Collection Manager Number</label>
                        {% if 'admin' in group_list %}
                        <input type="text" class="form-control" id="collection_manager_contact_number" name="collection_manager_contact_number" ng-model="customer.collection_manager_contact_number" ng-disabled="true">
                        {% else %}
                        <input type="password" class="form-control" id="collection_manager_contact_number" name="collection_manager_contact_number" ng-model="customer.collection_manager_contact_number" ng-disabled="true">
                        {% endif %}
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="contact_number_2" class="control-label">Product</label>
                        <input type="text" class="form-control" id="product" name="product" ng-model="customer.product" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="asset_make" class="control-label">Asset Make</label>
                        <input type="text" class="form-control" id="asset_make" name="asset_make" ng-model="customer.asset_make" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="asset_make" class="control-label">Registration Number</label>
                        <input type="text" class="form-control" id="registration_number" name="registration_number" ng-model="customer.registration_number" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="actual_bucket" class="control-label">Actual Bucket</label>
                        <input type="text" class="form-control" id="actual_bucket" name="actual_bucket" ng-model="customer.actual_bucket" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="reference_1_name" class="control-label">Reference1 Name</label>
                        <input type="text" class="form-control" id="reference_1_name" name="reference_1_name" ng-model="customer.reference_1_name" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    <div class="col-sm-3">
                        <label for="reference_1_contact_number" class="control-label">Reference1 Contact Number</label>
                        <div class="input-group">
                        {% if 'admin' in group_list %}
                        <input type="text" class="form-control" id="reference_1_contact_number" name="reference_1_contact_number" ng-model="customer.reference_1_contact_number" ng-disabled="true">
                        {% else %}
                        <input type="password" class="form-control" id="reference_1_contact_number" name="reference_1_contact_number" ng-model="customer.reference_1_contact_number" ng-disabled="true">
                        {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="click_to_call(customer.reference_1_contact_number)">Call</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="reference_2_name" class="control-label">Reference2 Name</label>
                        <input type="text" class="form-control" id="reference_2_name" name="reference_2_name" ng-model="customer.reference_2_name" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="reference_2_contact_number" class="control-label">Reference2 Contact Number</label>
                        <div class="input-group">
                        {% if 'admin' in group_list %}
                        <input type="text" class="form-control" id="reference_2_contact_number" name="reference_2_contact_number" ng-model="customer.reference_2_contact_number" ng-disabled="true">
                        {% else %}
                        <input type="password" class="form-control" id="reference_2_contact_number" name="reference_2_contact_number" ng-model="customer.reference_2_contact_number" ng-disabled="true">
                        {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="click_to_call(customer.reference_2_contact_number)">Call</button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="loan_amount" class="control-label">Loan Amount</label>
                        <input type="text" class="form-control" id="loan_amount" name="loan_amount" ng-model="customer.loan_amount" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    <div class="col-sm-3">
                        <label for="emi_amount" class="control-label">EMI Amount</label>
                        <input type="text" class="form-control" id="emi_amount" name="emi_amount" ng-model="customer.emi_amount" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="first_emi_due_date" class="control-label">First EMI Due Date</label>
                        <input type="text" class="form-control" id="first_emi_due_date" name="first_emi_due_date" ng-model="customer.emi_detail[0].first_emi_due_date" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="due_date" class="control-label">Last EMI Due Date</label>
                        <input type="text" class="form-control" id="due_date" name="due_date" ng-model="customer.emi_detail[0].due_date" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>

    </div>


    <div class="box box-block bg-white">
        <h6>EMI Details</h6>
        <p class="font-90 text-muted mb-1"></p>

        <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="emi_due" class="control-label">EMI Due</label>
                        <input type="text" class="form-control" id="emi_due" name="emi_due" ng-model="customer.emi_detail[0].emi_due" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    <div class="col-sm-2">
                        <label for="bounce_charges" class="control-label">Bounce charges</label>
                        <input type="text" class="form-control" id="bounce_charges" name="bounce_charges" ng-model="customer.emi_detail[0].bounce_charges" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-2">
                        <label for="late_payment_charges" class="control-label">Late Payment Charges</label>
                        <input type="text" class="form-control" id="late_payment_charges" name="late_payment_charges" ng-model="customer.emi_detail[0].late_payment_charges" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="pos" class="control-label">POS</label>
                        <input type="text" class="form-control" id="pos" name="pos" ng-model="customer.emi_detail[0].pos" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="tos" class="control-label">TOS</label>
                        <input type="text" class="form-control" id="tos" name="tos" ng-model="customer.emi_detail[0].tos" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>

    </div>

    <div class="box box-block bg-white" ng-show="payment_info_list.length">

        <div ng-repeat="payment in payment_info_list track by $index">
            <h6>Payment Confirmed by HERO  - {% verbatim %} {{$index+1}} {% endverbatim %}
                <span class="font-80 text-muted mb-1" style="float:right"> <i>Payment Date: {% verbatim %}{{payment.created_at | date : 'dd-MM-y HH:mm'}} {% endverbatim %}</i></span>
            </h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="transaction_id" class="control-label">Transaction ID</label>
                        <input type="text" class="form-control" id="transaction_id" name="transaction_id" ng-model="payment.transaction_id" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    <div class="col-sm-3">
                        <label for="amount" class="control-label">Amount</label>
                        <input type="text" class="form-control" id="amount" name="bounce_charges" ng-model="payment.amount" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="p_mode" class="control-label">Payment Mode</label>
                        <input type="text" class="form-control" id="p_mode" name="p_mode" ng-model="payment.payment_mode" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="p_type" class="control-label">Type</label>
                        <input type="text" class="form-control" id="p_type" name="p_type" ng-model="payment.type" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="box box-block bg-white" ng-show="agent_confirmed_payment_info_list.length">

        <div ng-repeat="payment in agent_confirmed_payment_info_list track by $index">
            <h6>Payment Confirmed by <i> {% verbatim %} {{payment.email_user.first_name}} {{payment.email_user.last_name}} {% endverbatim %} </i>
                <span class="font-80 text-muted mb-1" style="float:right"> <i>Payment Date: {% verbatim %}{{payment.created_at | date : 'dd-MM-y HH:mm'}} {% endverbatim %}</i></span>
            </h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="agent_transaction_id" class="control-label">Transaction ID</label>
                        <input type="text" class="form-control" id="agent_transaction_id" ng-model="payment.transaction_id" ng-disabled="true">
                    </div>
                    <div class="col-sm-2">
                        <label for="agent_amount" class="control-label">Amount</label>
                        <input type="text" class="form-control" id="agent_amount" ng-model="payment.amount" ng-disabled="true">
                    </div>

                    <div class="col-sm-2">
                        <label for="agent_p_mode" class="control-label">Payment Mode</label>
                        <input type="text" class="form-control" id="agent_p_mode"  ng-model="payment.payment_mode.name" ng-disabled="true">
                    </div>

                    <div class="col-sm-2">
                        <label for="agent_p_sub_mode" class="control-label">Sub Payment Mode</label>
                        <input type="text" class="form-control" id="agent_p_sub_mode"  ng-model="payment.sub_payment_mode.name" ng-disabled="true">
                    </div>

                    <div class="col-sm-2" ng-show="payment.bank_branch">
                        <label for="agent_p_branch" class="control-label">Branch</label>
                        <input type="text" class="form-control" id="agent_p_branch"  ng-model="payment.bank_branch" ng-disabled="true">
                    </div>

                    <div class="col-sm-1">
                        <label for="agent_p_type" class="control-label">Type</label>
                        <input type="text" class="form-control" id="agent_p_type" ng-model="payment.type" ng-disabled="true">
                    </div>

                    <div class="col-sm-1" ng-show="payment.receipt">
                        {% verbatim %}
                        <a href="{{payment.receipt}}" target="_blank">Receipt</a>
                        {% endverbatim %}
                    </div>

                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="">

        <div ng-repeat="followup in followup_list track by $index">
            <div class="box box-block bg-white">
                <h6>Followup - {% verbatim %} {{$index+1}} {% endverbatim %}
                    <span style="float:right"> <span style="background-color:#FFFF99"><i>Followup Date: {% verbatim %}{{followup.created_at | date : 'dd-MM-y HH:mm'}} {% endverbatim %}</i></span>
                </h6>
                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-3">
                        <label for="disposition" class="control-label">Disposition</label>
                        <select class="form-control" id="disposition" name="disposition" ng-model="followup.disposition"
                                ng-options="p.id as p.name for p in deposition_history_list" ng-disabled="true">
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                        <div class="col-sm-3">
                        <label for="sub_disposition" class="control-label">Sub Disposition</label>
                        <select class="form-control" id="sub_disposition" name="sub_disposition" ng-model="followup.sub_disposition"
                                ng-options="p.id as p.name for p in all_sub_deposition_list" ng-disabled="true">
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                        <div class="col-sm-6">
                        <label for="remarks" class="control-label" style="margin:0">Remarks</label>
                        <textarea class="form-control" id="remarks" name="remarks"
                                  ng-model="followup.remarks" ng-disabled="true"></textarea>
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row" ng-if="followup.ptp_amount">
                        <div class="col-sm-3">
                            <label for="ptp_amount" class="control-label">PTP Amount</label>
                            <input type="text" class="form-control" id="ptp_amount" name="ptp_amount" ng-model="followup.ptp_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-3">
                            <label for="ptp_date" class="control-label">PTP Date</label>
                            <input type="text" class="form-control" id="ptp_date" name="ptp_date" ng-model="followup.ptp_date" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="payment_mode" class="control-label">Payment Mode</label>
                            <select class="form-control" id="payment_mode" name="payment_mode" ng-model="followup.payment_mode"
                                ng-options="p.id as p.name for p in payment_mode_list" ng-blur="validateInput(form.payment_mode)" ng-disabled="true">
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="ptp_type" class="control-label">PTP Type</label>
                            <select class="form-control" id="ptp_type" name="ptp_type" ng-model="followup.ptp_type"
                                ng-options="p.id as p.name for p in ptp_type_list" ng-disabled="true">
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>
                    </div>

                    <div class="row" ng-if="followup.settlement_amount">
                        <div class="col-sm-2">
                            <label for="settlement_amount" class="control-label">Settlement Amount</label>
                            <input type="text" class="form-control" id="settlement_amount" name="ptp_amount" ng-model="followup.settlement_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-1">
                            <label for="settlement_percent" class="control-label">POS %</label>
                            <input type="text" class="form-control" id="settlement_percent" name="settlement_percent" ng-model="followup.settlement_percent" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-1">
                            <label for="settlement_percent_tos" class="control-label">TOS %</label>
                            <input type="text" class="form-control" id="settlement_percent_tos" name="settlement_percent_tos" ng-model="followup.settlement_percent_tos" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="ptp_date" class="control-label">PTP Date</label>
                            <input type="text" class="form-control" id="ptp_date" name="ptp_date" ng-model="followup.ptp_date" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="payment_mode" class="control-label">Payment Mode</label>
                            <select class="form-control" id="payment_mode" name="payment_mode" ng-model="followup.payment_mode"
                                ng-options="p.id as p.name for p in payment_mode_list" ng-blur="validateInput(form.payment_mode)" ng-disabled="true">
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="ptp_type" class="control-label">PTP Type</label>
                            <select class="form-control" id="ptp_type" name="ptp_type" ng-model="followup.ptp_type"
                                ng-options="p.id as p.name for p in ptp_type_list" ng-disabled="true">
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3" ng-if="followup.callback_date_time">
                        <label for="callback_date_time" class="control-label">Next Callback</label>
                        <input type="text" class="form-control" id="callback_date_time" name="callback_date_time" ng-model="followup.callback_date_time" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="box box-block bg-white">

            <h6>Followup
                 <span style="float:right">
                    <a href="#" data-toggle="modal" data-target="#paymentModal" style="background-color:grey;color:white;padding: 0px 5px 0px 5px;">Payment</a>
                </span>
            </h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="disposition" class="control-label">Disposition</label>
                        <select class="form-control" id="add_disposition" name="add_disposition" ng-model="add_followup.disposition" ng-change="showCallback();getSubDisposition()"
                                ng-options="p.id as p.name for p in deposition_list" ng-blur="validateInput(form.add_disposition)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="add_sub_disposition" class="control-label">Sub Disposition</label>
                        <select class="form-control" id="add_sub_disposition" name="add_sub_disposition" ng-model="add_followup.sub_disposition"
                                ng-options="p.id as p.name for p in sub_deposition_list" ng-blur="validateInput(form.add_sub_disposition)" ng-change="fieldShowHide(add_followup.sub_disposition)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-6">
                        <label for="remarks" class="control-label"  style="margin:0">Remarks</label>
                        <textarea class="form-control" id="add_remarks" name="add_remarks"
                                  ng-model="add_followup.remarks" maxlength="245"></textarea>
                        <div class="alert-msg alert-danger"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row" ng-if="is_ptp_amount">
                    <div class="col-sm-3">
                        <label for="ptp_amount" class="control-label">PTP Amount</label>
                        <input type="text" class="form-control" id="add_ptp_amount" name="add_ptp_amount" ng-model="add_followup.ptp_amount" ng-blur="validateInput(form.add_ptp_amount);is_less_than_zero(form.add_ptp_amount)" ng-keypress="isDecimal($event)" required>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="payment_mode" class="control-label">Payment Mode</label>
                        <select class="form-control" id="add_payment_mode" name="add_payment_mode" ng-model="add_followup.payment_mode"
                                ng-options="p.id as p.name for p in payment_mode_list" ng-blur="validateInput(form.add_payment_mode)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="ptp_type" class="control-label">PTP Type</label>
                        <select class="form-control" id="add_ptp_type" name="add_ptp_type" ng-model="add_followup.ptp_type"
                                ng-options="p.id as p.name for p in ptp_type_list" ng-blur="validateInput(form.add_ptp_type)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="ptp_date" class="control-label">PTP Date</label>
                        <input type="date" class="form-control" id="add_ptp_date" name="add_ptp_date" ng-model="add_followup.ptp_date" ng-blur="validateInput(form.add_ptp_date)" required>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>

                <div class="row" ng-if="is_settlement_amount">
                    <div class="col-sm-2">
                        <label for="settlement_amount" class="control-label">Settlement Amount</label>
                        <input type="text" class="form-control" id="add_settlement_amount" name="add_settlement_amount" ng-model="add_followup.settlement_amount" ng-blur="validateInput(form.add_settlement_amount);is_less_than_zero(form.add_settlement_amount)" ng-keypress="isDecimal($event)"  ng-change="calculatePercentage()" required>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-1">
                        <label for="settlement_percent" class="control-label">POS %</label>
                        <input type="text" class="form-control" id="add_settlement_percent" name="add_settlement_percent" ng-model="add_followup.settlement_percent" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-1">
                        <label for="add_settlement_percent_tos" class="control-label">TOS %</label>
                        <input type="text" class="form-control" id="add_settlement_percent_tos" name="add_settlement_percent_tos" ng-model="add_followup.add_settlement_percent_tos" ng-disabled="true">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="payment_mode" class="control-label">Payment Mode</label>
                        <select class="form-control" id="add_payment_mode" name="add_payment_mode" ng-model="add_followup.payment_mode"
                                ng-options="p.id as p.name for p in payment_mode_list" ng-blur="validateInput(form.add_payment_mode)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3">
                        <label for="ptp_type" class="control-label">PTP Type</label>
                        <select class="form-control" id="add_ptp_type" name="add_ptp_type" ng-model="add_followup.ptp_type"
                                ng-options="p.id as p.name for p in ptp_type_list" ng-blur="validateInput(form.add_ptp_type)" required>
                        </select>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-2">
                        <label for="ptp_date" class="control-label">PTP Date</label>
                        <input type="date" class="form-control" id="add_ptp_date" name="add_ptp_date" ng-model="add_followup.ptp_date" ng-blur="validateInput(form.add_ptp_date)" required>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-2" ng-show="add_followup.sub_disposition == 1 || add_followup.sub_disposition == 2">
                        <label for="single-input1" class="control-label">PTP Time (24 Hour)</label>
                        <input class="form-control" id="single-input1" name="single-input1" ng-model="add_followup.ptp_time" placeholder="Time">
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-2" ng-if="is_callback">
                        <label for="add_callback_date" class="control-label">Callback Date</label>
                        <input type="date" class="form-control" id="add_callback_date" name="add_callback_date" ng-model="add_followup.add_callback_date" ng-blur="validateInput(form.add_callback_date)" required>
                        <div class="alert-msg alert-danger"></div>
                    </div>

                    <div class="col-sm-3" ng-show="is_callback">
                        <label for="single-input" class="control-label">Time (24 Hour)</label>
                        <input class="form-control" id="single-input" name="single-input" ng-model="add_followup.add_callback_time" placeholder="Time">
                        <div class="alert-msg alert-danger"></div>
                    </div>
                </div>

            </div>

            </div>

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox checkbox-custom checkbox-circle">
                    <a href="/customer/"><button type="button" id="cancel" class="btn btn-danger" style="width:200px">Cancel</button></a>
                </div>
            </div>
                <div class="col-md-3">
                    <div class="checkbox checkbox-custom checkbox-circle">
                        <button type="button" id="submit" class="btn btn-primary" style="width:200px" ng-click="saveFollowup()">Save</button>
                    </div>
                </div>
            </div>
    </div>

</form>

    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div ng-show="showLoader" id="overlay">
                    <div ng-show="showLoader" class="loader"></div>
                </div>

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Payment</h4>
            </div>
            <div class="modal-body">
                <form id="agent_payment_form" name="agent_payment_form">
                    <div class="form-group">
                    <div class="row">

                        <div class="col-sm-3">
                            <label for="pt_transaction_id" class="control-label">Transaction ID</label>
                            <input type="text" class="form-control" id="pt_transaction_id" name="pt_transaction_id" ng-model="agent_payment.pt_transaction_id" ng-blur="validateInput(agent_payment_form.pt_transaction_id)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="pt_amount" class="control-label">Amount</label>
                            <input type="text" class="form-control" id="pt_amount" name="pt_amount" ng-model="agent_payment.pt_amount" ng-blur="validateInput(agent_payment_form.pt_amount)" ng-keypress="isDecimal($event)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-3">
                            <label for="pt_payment_mode" class="control-label">Payment Mode</label>
                            <select class="form-control" id="pt_payment_mode" name="pt_payment_mode" ng-model="agent_payment.pt_payment_mode" ng-change="getSubPaymentMode();show_sub_payment_info();show_branch_info()"
                                    ng-options="p.id as p.name for p in payment_mode_list" ng-blur="validateInput(agent_payment_form.pt_payment_mode)" required>
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3" ng-show="show_sub_payment_mode">
                            <label for="pt_sub_payment_mode" class="control-label">Sub Payment Mode</label>
                            <select class="form-control" id="pt_sub_payment_mode" name="pt_sub_payment_mode" ng-model="agent_payment.pt_sub_payment_mode"
                                    ng-options="p.id as p.name for p in sub_payment_mode_list">
                            </select>
                        </div>

                        <div class="col-sm-3" ng-show="show_branch">
                            <label for="pt_branch" class="control-label">Branch</label>
                            <input type="text" class="form-control" id="pt_branch" name="pt_branch" ng-model="agent_payment.pt_branch">
                        </div>

                        <div class="col-sm-3">
                            <label for="pt_payment_type" class="control-label">Type</label>
                            <select class="form-control" id="pt_payment_type" name="pt_payment_type" ng-model="agent_payment.pt_payment_type"
                                    ng-options="p.id as p.name for p in payment_type_list" ng-blur="validateInput(agent_payment_form.pt_payment_type)" required>
                            </select>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                Receipt
                                <input type="file" class="form-control-file" id="files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="files" name="files">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="savePayment()">Payment</button>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="call_log_Modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Call Log</h5>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover m-0" style="font-size: 1rem">
                  <thead>
                     <tr>
                        <th rowspan="7">No.</th>
                        <th>Timestamp</th>
                        <th>Phone Number</th>
                        <th>Event</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th>MOS</th>
                        <th>Hangup Cause</th>
                     </tr>
                  </thead>
                    {% verbatim %}
                    <tbody class="call-log-tbody" ng-repeat="log in call_log[0] track by $index">
                      <tr><td rowspan="7">{{ $index+1}}</td></tr>
                        <tr ng-repeat="c in log">
                            <td>{{c.timestamp}}</td>
                            <td>{{c.phone_number}}</td>
                            <td>{{c.event_name}}</td>
                            <td>{{c.duration}}</td>
                            <td>{{c.call_status}}</td>
                            <td>{{c.mos}}</td>
                            <td>{{c.hangup_cause}}</td>
                         </tr>
                  </tbody>
                    {% endverbatim %}
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/customer-details.js' %}?{{version}}"></script>
<script type="text/javascript" src="{% static 'collection/theme/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}?{{version}}"></script>
<script type="text/javascript" src="{% static 'collection/theme/clockpicker/dist/jquery-clockpicker.min.js' %}?{{version}}"></script>
<script type="text/javascript" src="{% static 'collection/theme/js/forms-pickers.js' %}?{{version}}"></script>


{% endblock %}
