{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard | Lintel {% endblock %}

{% block header %}
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					<h5>Dashboard</h5>
				</form>
			</div>

        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<iframe src="http://192.168.1.236:3000/d/NCbO4PiMk/astute?orgId=1&refresh=5s"
        frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="auto" allowfullscreen></iframe>
</div>
{% endblock %}

{% block js_files %}
<script type="text/javascript">
    var x = document.getElementById("white-box");
    x.classList.remove("box");
    x.classList.remove("box-block");
    x.classList.remove("bg-white");
</script>
{% endblock %}