{% extends "base.html" %}
{% load static %}
{% block title %} EMI Followup | Lintel {% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="customerCtl" ng-init="getCustomer()">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					<h5>EMI Followup</h5>
				</form>
			</div>

        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-show="showLoader" id="overlay">
    <div ng-show="showLoader" class="loader"></div>
</div>

    <div class="table-responsive">
        <h5 class="mb-1">Customer</h5>
       <table class="table table-bordered table-striped table-hover m-0" style="font-size: 1rem">
          <thead>
             <tr>
                <th>Application ID</th>
                <th>Name</th>
                <th>PTP Amount</th>
                <th>POS</th>
                <th>TOS</th>
                 <th>State</th>
                 <th>Notice</th>
                <th>Postcard</th>
                <th>PTP Date</th>
             </tr>
          </thead>
          <tbody>
            {% verbatim %}
             <tr ng-repeat="c in customer | orderBy:'ptp_date' " ng-cloak>
                 <td><a href="/customer/edit/?id={{c.application_id}}?callback=false?emi=true/">{{c.application_id}}</a></td>
                <td>{{c.name}}</td>
                <td ng-show="c.ptp_amount">{{c.ptp_amount}}</td>
                <td>{{c.pos}}</td>
                <td>{{c.tos}}</td>
                 <td>{{c.state_name}}</td>
                 <td ng-show="{{c.is_notice_issued}}"><img src="/static/collection/image/icon-yes.svg"></td>
                 <td ng-show="{{c.is_notice_issued}}=='0'"><img src="/static/collection/image/icon-no.svg"></td>

                 <td ng-show="{{c.is_post_card_issued}}"><img src="/static/collection/image/icon-yes.svg"></td>
                 <td ng-show="{{c.is_post_card_issued}}=='0'"><img src="/static/collection/image/icon-no.svg"></td>

                <td>{{c.ptp_date | date : 'dd/MM/yyyy HH:mm' }}</td>
             </tr>
            {% endverbatim %}
          </tbody>
       </table>
    </div>

    <nav>
        <ul class="pagination pagination-sm m-0">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" ng-click="getCustomer(previous_url)">
                    <span aria-hidden="true">&laquo; &nbsp; Previous</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="i in next_pages_list"><a class="page-link" href="#"></a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" ng-click="getCustomer(next_url)">
                    <span aria-hidden="true">Next &nbsp; &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/emi-followup.js' %}?{{version}}"></script>
{% endblock %}
