{% extends "base.html" %}
{% load static %}
{% block title %} File Upload | Lintel {% endblock %}

{% block header %}
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

            <div class="header-form float-md-left ml-md-2">
	            <h5>Import - Export</h5>
			</div>

        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-app="myApp" ng-controller="fileCtl">

    <div ng-show="showLoader" id="overlay">
        <div ng-show="showLoader" class="loader"></div>
    </div>

    <div class="box box-block bg-white">
        <h5>Download Data Dump</h5>
        <p></p>
        <div class="form-group">
            <div class="row">
                <form name="report_form" id="report_form">
                <div class="col-sm-2">
                    <label for="report_type" class="control-label">Report Type</label>
                    <select class="form-control" id="report_type" name="report_type" ng-model="report_type" ng-init="report_type='Customer'">
                        <option value="Customer">Customer</option>
                        <option value="Followup">Followup</option>
                    </select>
                    <div class="alert-msg alert-danger"></div>
                </div>

                <div class="col-sm-2">
                    <label for="report_month" class="control-label">Month</label>
                    <select class="form-control" id="report_month" name="report_month" ng-model="report_month"
                    ng-options="p.month as p.name for p in month_list"></select>
                </div>

                <div class="col-sm-2">
                    <label for="csv_data_dump" class="control-label" style="color:white">Download Report</label>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="csv_data_dump" ng-click="download_data_dump()">Download</button>
                </div>
                </form>
            </div>
        </div>

        <form name='data_dump_csv' action="/api/download/csv/" id="data_dump_csv" method="post">
            {% csrf_token %}
            <input type="hidden" name="auth" id="auth">
            <input type="hidden" name="month" id="month">
            <input type="hidden" name="type" id="type">
        </form>
    </div>

    <div class="box box-block bg-white">
        <h5>Download PTP, Payment, Settlement, Agent Confirmed Payment</h5>
        <p></p>
        <div class="form-group">
            <div class="row">
                <form name="report_date_form" id="report_date_form">
                <div class="col-sm-2">
                    <label for="report_date_type" class="control-label">Report Type</label>
                    <select class="form-control" id="report_date_type" name="report_date_type" ng-model="report_date_type" ng-init="report_date_type='PTP'">
                        <option value="PTP" selected>PTP</option>
                        <option value="PAYMENT_INFO">PAYMENT</option>
                        <option value="SETTLEMENT">SETTLEMENT</option>
                        <option value="LEAD_RECYCLE">LEAD RECYCLE</option>
                        <option value="CLICK_TO_CALL_EVENT">C2C EVENT</option>
                        <option value="CLICK_TO_CALL_EVENT_DETAILS">C2C EVENT DETAILS</option>
                        <option value="AGENT_CONFIRMED_PAYMENT_INFO">AGENT CONFIRMED PAYMENT</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <label for="report_month" class="control-label">From</label>
                    <input class="form-control" type="date" ng-model="from_date">
                </div>

                <div class="col-sm-2">
                    <label for="report_month" class="control-label">TO</label>
                    <input class="form-control" type="date" ng-model="to_date">
                </div>

                <div class="col-sm-2">
                    <label for="csv_data_dump" class="control-label" style="color:white">Download Report</label>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="report_date_dump" ng-click="report_date_dump()">Download</button>
                </div>
                </form>
            </div>
        </div>

        <form name='report_date_csv' action="/api/report/date/csv/" id="report_date_csv" method="post">
            {% csrf_token %}
            <input type="hidden" name="from_date" id="from_date">
            <input type="hidden" name="to_date" id="to_date">
            <input type="hidden" name="report_date" id="report_date">
        </form>
    </div>


    <div class="box box-block bg-white">
        <h5>Settlement Approved File Upload</h5>
        <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="s_form" name='s_form' ng-submit="doSaveSettlementFile()" novalidate>
            <label class="sr-only" for="s_files">Data File</label>
            <div class="input-group">
                <input type="file" class="form-control-file" id="s_files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="s_files" name="s_files" required>
            </div>
            <button type="button" id="s_submit" class="btn btn-primary" ng-click="doSaveSettlementFile()">Submit</button>
        </form>
        <div class="alert-msg alert-danger"></div>

    </div>

    <div class="box box-block bg-white">
        <h5>New Lead Upload</h5>
        <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="form" name='form' ng-submit="doSaveFile()" novalidate>
            <label class="sr-only" for="files">Data File</label>
            <div class="input-group">
                <input type="file" class="form-control-file" id="files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="files" name="files" required>
            </div>
            <button type="button" id="submit" class="btn btn-primary" ng-click="doSaveFile()">Submit</button>
        </form>
        <div class="alert-msg alert-danger"></div>

    </div>

    <div class="box box-block bg-white">
        <h5>Deactivate Lead Upload</h5>
        <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="d_form" name='d_form' ng-submit="doSaveCustomerStatusFile()" novalidate>
            <label class="sr-only" for="d_files">Data File</label>
            <div class="input-group">
                <input type="file" class="form-control-file" id="d_files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="d_files" name="d_files" required>
            </div>
            <button type="button" id="d_submit" class="btn btn-primary" ng-click="doSaveCustomerStatusFile()">Submit</button>
        </form>
        <div class="alert-msg alert-danger"></div>

    </div>

    <div class="box box-block bg-white">
        <h5>Customer Data Update</h5>
        <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="_form" name='generic_form' ng-submit="doSaveGenericFile()" novalidate>
            <label class="sr-only" for="generic_files">Data File</label>
            <div class="input-group">
                <input type="file" class="form-control-file" id="generic_files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="d_files" name="generic_files" required>
            </div>
            <button type="button" id="generic_submit" class="btn btn-primary" ng-click="doSaveGenericFile()">Submit</button>
        </form>
        <div class="alert-msg alert-danger"></div>

    </div>

</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/file-upload.js' %}?{{version}}"></script>
{% endblock %}
