{% extends "base.html" %}
{% load static %}
{% block title %} Index | Lintel {% endblock %}

{% block search %}
<div class="header-form float-md-left ml-md-2">
    <form>
        <input type="text" class="form-control b-a" placeholder="Search for...">
        <button type="submit" class="btn bg-white b-a-0">
            <i class="ti-search"></i>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<h5>File Upload</h5>
<p>Click the choose file and select <code>.csv</code> file.</p>

<form class="form-inline">
    <label class="sr-only" for="data_file">Data File</label>
    <div class="input-group">
        <input type="file" class="form-control-file" id="data_file" aria-describedby="fileHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

