{% extends "base.html" %}
{% load static %}
{% block title %} Manage Leads | Lintel {% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="customerCtl" ng-init="getCustomer()">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					{% verbatim %}
					<input type="text" class="form-control b-a" id="search" name="search"
						   ng-model="search_keyword" ng-change="search()" placeholder="Search">
					<button type="submit" class="btn bg-white b-a-0">
						<i class="ti-search"></i>
					</button>
					{% endverbatim %}
				</form>
			</div>

        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-show="showLoader" id="overlay">
    <div ng-show="showLoader" class="loader"></div>
</div>
    <h5> Manage Leads</h5>

    <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="form_file_upload" name='form_file_upload' ng-submit="doSaveFile()" novalidate style="float:left">
            <div class="input-group" style="width:100px">
                <input type="file" class="form-control-file" id="files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="files" name="files" required>
            </div>
            <button type="button" id="submit_file_upload" class="btn btn-primary" ng-click="doSaveFile()">Upload</button>
        </form>

        <span style="float:right">
            <label for="user" class="control-label">Assign To Agent</label>
            <select style="width:200px"  id="user" name="user" ng-model="user"
                    ng-options="p.id as p.first_name + ' ' + p.last_name for p in user_list" >
            </select>

            <button type="button" id="submit" class="btn btn-primary" ng-click="assignUser()">Assign</button>
        </span>

<div class="table-responsive" style="margin-top: 20px">
       <table class="table table-bordered table-striped table-hover m-0" style="font-size: 1rem">
          <thead>
             <tr>
                <th>Application ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Lead Assign Date</th>
                <th>
                    <div class="checkbox checkbox-danger">
                        <input id="checkbox7" ng-model="check_all" ng-change="toggle_check_all(check_all)"
                               type="checkbox" name="check[]">
                        <label for="checkbox7"></label>
                    </div>
                </th>
             </tr>
          </thead>
          <tbody>
            {% verbatim %}
             <tr ng-repeat="c in customer | orderBy:'application_id' " ng-cloak>
                 <td><a href="/customer/edit/?id={{c.application_id}}/">{{c.application_id}}</a></td>
                 <td>{{c.email_user.first_name}} {{c.email_user.last_name}}</td>
                 <td>{{c.email_user.email}}</td>
                 <td>{{c.email_user_assign_timestamp | date :'dd-MM-y HH:mm'}}</td>
                 <td>
                     <div class="checkbox checkbox-danger">
                        <input id="{{c.application_id}}" type="checkbox" data-w_id="{{c.application_id}}" ng-model="checkbox[c.application_id]"
                               ng-click="toggle_check(c.application_id)" class="toggle-check" name="check[]" type="checkbox">
                        <label for="{{c.application_id}}"></label>
                     </div>
                 </td>
             </tr>
            {% endverbatim %}
          </tbody>
       </table>
    </div>

    <nav>
        <ul class="pagination pagination-sm m-0">
            <li class="page-item">
                <a ng-show="previous_url" class="page-link" href="#" aria-label="Previous" ng-click="getCustomer(previous_url)">
                    <span aria-hidden="true">&laquo; &nbsp; Previous</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="i in next_pages_list"><a class="page-link" href="#"></a></li>
            <li ng-show="next_url" class="page-item">
                <a class="page-link" href="#" aria-label="Next" ng-click="getCustomer(next_url)">
                    <span aria-hidden="true">Next &nbsp; &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/manage-lead.js' %}?{{version}}"></script>
{% endblock %}
