{% extends "base.html" %}
{% load static %}
{% block title %} Payment | Lintel {% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="customerCtl">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					<h5>Payment</h5>
				</form>
			</div>

        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-show="showLoader" id="overlay">
    <div ng-show="showLoader" class="loader"></div>
</div>
    <h5> Payment</h5>

    <p>Click the choose file and select <code>.csv</code> file.</p>

        <form class="form-inline" id="form_file_upload" name='form_file_upload' ng-submit="doSaveFile()" novalidate style="float:left">
            
            <select class="form-control" id="file_type" name="file_type" ng-model="file_type" ng-init="file_type='file1'">
                <option value="file1" selected>Payment Through Alternate Mode</option>
                <option value="file2" selected>Mobile Report</option>

            </select>

            <div class="input-group" style="width:100px">
                <input type="file" class="form-control-file" id="files" aria-describedby="fileHelp"
                onchange="angular.element(this).scope().filechange(this.files)" ng-model="files" name="files" required>
            </div>
            <button type="button" id="submit_file_upload" class="btn btn-primary" ng-click="doSaveFile()">Upload</button>
        </form>

<!--        <span style="float:right">-->
<!--            <label for="search_term" class="control-label">Customer</label>-->
<!--            <input type="text" id="search_term" name="search_term" ng-model="search_term" placeholder="Application/Loan ID">-->
<!--            <button type="button" id="submit" class="btn btn-primary" ng-click="getCustomer()">Search</button>-->
<!--        </span>-->

<div class="table-responsive" style="margin-top: 20px">

    <div class="box box-block bg-white" ng-show="customer.length > 0">
        <h6>Customer Details</h6>
        <p class="font-90 text-muted mb-1"></p>

        <form id="form" name='form' novalidate>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="application_id" class="control-label">Application ID</label>
                            <input type="text" class="form-control" id="application_id" name="application_id" ng-model="customer[0].application_id" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-3">
                            <label for="loan_agreement_number" class="control-label">Loan Agreement Number</label>
                            <input type="text" class="form-control" id="loan_agreement_number" name="loan_agreement_number" ng-model="customer[0].loan_agreement_number" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="name" class="control-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="customer[0].name" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="loan_amount" class="control-label">Loan Amount</label>
                            <input type="text" class="form-control" id="loan_amount" name="loan_amount" ng-model="customer[0].loan_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-6">
                            <label for="emi_amount" class="control-label">EMI Amount</label>
                            <input type="text" class="form-control" id="emi_amount" name="emi_amount" ng-model="customer[0].emi_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="emi_due" class="control-label">EMI Due</label>
                            <input type="text" class="form-control" id="emi_due" name="emi_due" ng-model="customer[0].emi_detail[0].emi_due" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-2">
                            <label for="bounce_charges" class="control-label">Bounce charges</label>
                            <input type="text" class="form-control" id="bounce_charges" name="bounce_charges" ng-model="customer[0].emi_detail[0].bounce_charges" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="late_payment_charges" class="control-label">Late Payment Charges</label>
                            <input type="text" class="form-control" id="late_payment_charges" name="late_payment_charges" ng-model="customer[0].emi_detail[0].late_payment_charges" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="tos" class="control-label">TOS</label>
                            <input type="text" class="form-control" id="tos" name="tos" ng-model="customer[0].emi_detail[0].tos" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="pos" class="control-label">POS</label>
                            <input type="text" class="form-control" id="pos" name="pos" ng-model="customer[0].emi_detail[0].pos" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="amount" class="control-label">Amount</label>
                            <input type="text" class="form-control" id="amount" name="amount" ng-model="customer[0].payment_amount" ng-blur="validateInput(form.amount)" ng-keypress="isDecimal($event)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="transaction_id" class="control-label">Transaction ID</label>
                            <input type="text" class="form-control" id="transaction_id" name="transaction_id" ng-model="customer[0].transaction_id" ng-blur="validateInput(form.transaction_id)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="payment_mode" class="control-label">Payment Mode</label>
                            <input type="text" class="form-control" id="payment_mode" name="payment_mode" ng-model="customer[0].payment_mode" ng-blur="validateInput(form.payment_mode)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="sub_payment_mode" class="control-label">Sub Payment Mode</label>
                            <input type="text" class="form-control" id="sub_payment_mode" name="sub_payment_mode" ng-model="customer[0].sub_payment_mode">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="payment_date" class="control-label">Payment Date</label>
                            <input type="date" class="form-control" id="payment_date" name="payment_date" ng-model="customer[0].payment_date" ng-blur="validateInput(form.payment_date)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                <button type="button" id="payment" class="btn btn-primary" style="width:200px" ng-click="savePayment()">Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>

</div>
</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/payment.js' %}?{{version}}"></script>
{% endblock %}
