{% extends "base.html" %}
{% load static %}
{% block title %} PostCard Issued | Lintel {% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="customerCtl" ng-init="getCustomer()">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
					{% verbatim %}
					<input type="text" class="form-control b-a" id="search" name="search"
						   ng-model="search_keyword" ng-change="search()" placeholder="Search">
					<button type="submit" class="btn bg-white b-a-0">
						<i class="ti-search"></i>
					</button>
					{% endverbatim %}
				</form>
			</div>

        </div>
    </nav>
</div>

{% endblock %}
{% block content %}
<div id='white-box' class="box box-block bg-white">

     <div ng-show="showLoader" id="overlay">
        <div ng-show="showLoader" class="loader"></div>
    </div>

    <div class="table-responsive">
        <h5 class="mb-1" style="float:left">PostCard Issued</h5>
        <span style="float:right" ng-init="getDisposition()">
            <label for="filter_by" class="control-label">Filter By</label>
            <select id="filter_by" name="filter_by" ng-model="filter_by" ng-change="doFilter(filter_by)"
                    ng-options="p.id as p.name for p in deposition_list">
                <option value="" selected>All</option>
            </select>
        </span>


       <table class="table table-bordered table-striped table-hover m-0" style="font-size: 1rem">
          <thead>
             <tr>
                <th>Application ID</th>
                <th>Name</th>
<!--                <th>Phone</th>-->
                <th>Loan Amount</th>
                <th>EMI Amount</th>
                <th>POS</th>
                <th>TOS</th>
                 <th>State</th>
                <th>PostCard Issued</th>
                <th>Last Status</th>
             </tr>
          </thead>
          <tbody>
            {% verbatim %}
             <tr ng-repeat="c in customer | orderBy:'application_id' " ng-cloak>
                 <td><a href="/customer/edit/?id={{c.application_id}}/">{{c.application_id}}</a></td>
                <td>{{c.name}}</td>
<!--                <td>{{c.contact_number_1}}</td>-->
                <td>{{c.loan_amount}}</td>
                <td>{{c.emi_amount}}</td>
                <td>{{c.emi_detail[0].pos}}</td>
                <td>{{c.emi_detail[0].tos}}</td>
                 <td>{{c.state_name}}</td>
                 <td ng-show="{{c.is_post_card_issued}}"><img src="/static/collection/image/icon-yes.svg"></td>
                <td ng-if="c.last_status">{{c.last_status.name}}</td>
                <td ng-if="c.last_status==null">Fresh</td>
             </tr>
            {% endverbatim %}
          </tbody>
       </table>
    </div>

    <nav>
        <ul class="pagination pagination-sm m-0">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" >
                    <span aria-hidden="true">&laquo; &nbsp; Previous</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- <li class="page-item" ><a class="page-link" href="#"></a></li> -->
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Next &nbsp; &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>

{% endblock %}
{% block js_files %}
<script src="{% static 'collection/js/postcard-issued.js' %}?{{version}}"></script>
{% endblock %}
