{% extends "base.html" %}
{% load static %}
{% block title %} Settlement | Lintel {% endblock %}

{% block header %}
<div ng-app="myApp" ng-controller="customerCtl">
<div class="site-header">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a class="navbar-brand" href="#">
<!--                <div style="color:white">LINTEL</div>-->
                <div class="logo"></div>
            </a>
        </div>
        <div class="navbar-right navbar-toggleable-sm collapse" id="collapse-1">
            <div class="toggle-button light sidebar-toggle-second float-xs-left hidden-sm-down">
                <span class="hamburger"></span>
            </div>

            <ul class="nav navbar-nav float-md-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div id="clock"></div>
                    </a>
                </li>

                <li class="nav-item dropdown hidden-sm-down">
                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="avatar box-32">
                            <img src="{% static 'collection/image/user.png' %}?{{version}}" alt="">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                        <a class="dropdown-item" href="#">
                            <i class="ti-user mr-0-5"></i> {{request.user.first_name}}&nbsp; {{request.user.last_name}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-email mr-0-5"></i> {{request.user.email}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-mobile mr-0-5"></i> {{request.user.extension}}
                        </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="doLogout()"><i class="ti-power-off mr-0-5"></i> Logout</a>
                    </div>
                </li>
            </ul>

			<div class="header-form float-md-left ml-md-2">
				<form>
				    {% verbatim %}
					<input type="text" class="form-control b-a" id="search" name="search"
						   ng-model="search_keyword" ng-change="search()" placeholder="Search">
					<button type="submit" class="btn bg-white b-a-0">
						<i class="ti-search"></i>
					</button>
					{% endverbatim %}
				</form>
			</div>

        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
<div id='white-box' class="box box-block bg-white">

<div ng-show="showLoader" id="overlay">
    <div ng-show="showLoader" class="loader"></div>
</div>
    <h5> Settlement</h5>

        <span style="float:left">
<!--            <label for="search_term" class="control-label">Customer</label>-->
            <input type="text" id="c_search_term" name="c_search_term" ng-model="c_search_term" placeholder="Application/Loan ID">
            <button type="button" id="submit" class="btn btn-primary" ng-click="getCustomer()">New Request</button>
            <div class="alert-msg alert-danger" id="is_search_error" ng-show="is_search_error">No Data Found!!</div>
        </span>

        <span style="float:right">
            <label for="filter_by" class="control-label">Filter By</label>
            <select id="filter_by" name="filter_by" ng-model="filter_by" ng-change="doFilter(filter_by)">
                <option value="" selected>All</option>
                <option value="True">Approved</option>
                <option value="False">Pending</option>
            </select>
        </span>
<!--        <form class="form-inline" id="form_file_upload" name='form_file_upload' ng-submit="doSaveFile()" novalidate style="float:right">-->
<!--            <div class="input-group" >-->
<!--                <input type="file" class="form-control-file" id="files" aria-describedby="fileHelp"-->
<!--                onchange="angular.element(this).scope().filechange(this.files)" ng-model="files" name="files" required>-->
<!--            </div>-->
<!--            <button type="button" id="submit_file_upload" class="btn btn-primary" ng-click="doSaveFile()">Upload</button>-->
<!--        </form>-->


<div class="table-responsive" style="margin-top: 0px">

    <div class="box box-block bg-white" ng-show="customer.length > 0">
        <h6>Customer Details</h6>
        <p class="font-90 text-muted mb-1"></p>

        <form id="form" name='form' novalidate>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="application_id" class="control-label">Application ID</label>
                            <input type="text" class="form-control" id="application_id" name="application_id" ng-model="customer[0].application_id" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-3">
                            <label for="loan_agreement_number" class="control-label">Loan Agreement Number</label>
                            <input type="text" class="form-control" id="loan_agreement_number" name="loan_agreement_number" ng-model="customer[0].loan_agreement_number" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="name" class="control-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="customer[0].name" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="loan_amount" class="control-label">Loan Amount</label>
                            <input type="text" class="form-control" id="loan_amount" name="loan_amount" ng-model="customer[0].loan_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-6">
                            <label for="emi_amount" class="control-label">EMI Amount</label>
                            <input type="text" class="form-control" id="emi_amount" name="emi_amount" ng-model="customer[0].emi_amount" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="emi_due" class="control-label">EMI Due</label>
                            <input type="text" class="form-control" id="emi_due" name="emi_due" ng-model="customer[0].emi_detail[0].emi_due" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>
                        <div class="col-sm-2">
                            <label for="bounce_charges" class="control-label">Bounce charges</label>
                            <input type="text" class="form-control" id="bounce_charges" name="bounce_charges" ng-model="customer[0].emi_detail[0].bounce_charges" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-2">
                            <label for="late_payment_charges" class="control-label">Late Payment Charges</label>
                            <input type="text" class="form-control" id="late_payment_charges" name="late_payment_charges" ng-model="customer[0].emi_detail[0].late_payment_charges" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="tos" class="control-label">TOS</label>
                            <input type="text" class="form-control" id="tos" name="tos" ng-model="customer[0].emi_detail[0].tos" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="pos" class="control-label">POS</label>
                            <input type="text" class="form-control" id="pos" name="pos" ng-model="customer[0].emi_detail[0].pos" ng-disabled="true">
                            <div class="alert-msg alert-danger"></div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="amount" class="control-label">Amount</label>
                            <input type="text" class="form-control" id="amount" name="amount" ng-model="customer[0].settlement_amount" ng-blur="validateInput(form.amount)" ng-keypress="isDecimal($event)" required>
                            <div class="alert-msg alert-danger"></div>
                        </div>

                        <div class="col-sm-3">
                            <label for="settlement" class="control-label" style="color:white">Settlement</label>
                            <button type="button" id="settlement" class="btn btn-primary" style="width:200px" ng-click="saveSettlement()">Settlement Request</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>

</div>

<div class="table-responsive" style="margin-top: 20px" ng-init="getSettlementList()">
    <table class="table table-bordered table-striped table-hover m-0" style="font-size: 1rem" ng-show="settlement_list.length > 0">
          <thead>
             <tr>
                <th>Application ID</th>
                <th>Settlement Amount</th>
                <th>Email</th>
                <th>Approved</th>
                <th>Approved Date</th>
                <th>Payment</th>
                <th>Created Date</th>
             </tr>
          </thead>
          <tbody>
            {% verbatim %}
             <tr ng-repeat="c in settlement_list | orderBy:'created_at'">
                 <td><a href="/customer/edit/?id={{c.application_id}}/">{{c.application_id}}</a></td>
                 <td>{{c.amount}}</td>
                 <td ng-show="{{c.is_email_sent}}"><img src="/static/collection/image/icon-yes.svg"></td>
                 <td ng-show="{{c.is_email_sent}}=='0'"><img src="/static/collection/image/icon-no.svg"></td>

                 <td ng-show="{{c.is_approved}}"><img src="/static/collection/image/icon-yes.svg"></td>
                 <td ng-show="{{c.is_approved}}=='0'"><img src="/static/collection/image/icon-no.svg"></td>
                 <td>{{c.approved_date | date : 'dd/MM/yyyy'}}</td>
                 <td>{{c.payment}}</td>
                 <td>{{c.created_at | date : 'dd/MM/yyyy'}}</td>
             </tr>
            {% endverbatim %}
          </tbody>
       </table>
    <span ng-show="settlement_list.length == 0"> No Data Found!!</span>
</div>


</div>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'collection/js/settlement.js' %}?{{version}}"></script>
{% endblock %}
