<!-- Sidebar -->
<div class="site-overlay"></div>
<div class="site-sidebar">
    <div class="custom-scroll custom-scroll-light">
        <ul class="sidebar-menu">

            {% if 'admin' in group_list %}
            <li class="with-sub">
                <a href="/dashboard/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-view-grid"></i></span>
                    <span class="s-text">Dashboard</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/customer/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-menu-alt"></i></span>
                    <span class="s-text">Customer</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/settlement/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-location-arrow"></i></span>
                    <span class="s-text">Settlement</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/paymentlink/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-email"></i></span>
                    <span class="s-text">Razorpay Link</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/import-export/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-new-window"></i></span>
                    <span class="s-text">Import - Export</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/manage-lead/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-star"></i></span>
                    <span class="s-text">Assign Lead</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/payment/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-bar-chart-alt"></i></span>
                    <span class="s-text">New Payment</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/paymentinfo/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-email"></i></span>
                    <span class="s-text">Payment Details</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/agentconfirmedpaymentinfo/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-layout-tab"></i></span>
                    <span class="s-text">Paid Unconfirmed</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/disposition/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-package"></i></span>
                    <span class="s-text">Dispositions</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/subdisposition/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-palette"></i></span>
                    <span class="s-text">Sub-Dispositions</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/paymentmode/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-gallery"></i></span>
                    <span class="s-text">Payment Mode</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/subpaymentmode/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-pencil-alt"></i></span>
                    <span class="s-text">Sub Payment Mode</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/ptptype/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-calendar"></i></span>
                    <span class="s-text">PTP Type</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/state/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-paint-bucket"></i></span>
                    <span class="s-text">State</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/emailuser/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-settings"></i></span>
                    <span class="s-text">Agent</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/clicktocallevent/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-mobile"></i></span>
                    <span class="s-text">Call Event</span>
                </a>
            </li>

            {% elif 'team lead' in group_list %}

            <li class="with-sub">
                <a href="/dashboard/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-view-grid"></i></span>
                    <span class="s-text">Dashboard</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/customer/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-menu-alt"></i></span>
                    <span class="s-text">Customer</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/settlement/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-location-arrow"></i></span>
                    <span class="s-text">Settlement</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/paymentinfo/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-email"></i></span>
                    <span class="s-text">Payment Details</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/agentconfirmedpaymentinfo/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-layout-tab"></i></span>
                    <span class="s-text">Paid Unconfirmed</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/utility/admin/app/clicktocallevent/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-mobile"></i></span>
                    <span class="s-text">Call Event</span>
                </a>
            </li>

            {% else %}

            <li class="with-sub">
                <a href="/user/dashboard/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-view-grid"></i></span>
                    <span class="s-text">Dashboard</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/customer/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-menu-alt"></i></span>
                    <span class="s-text">Customer</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/notice-issued/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-pencil-alt"></i></span>
                    <span class="s-text">Notice Issued</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/postcard-issued/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-palette"></i></span>
                    <span class="s-text">PostCard Issued</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/user/ptp/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-star"></i></span>
                    <span class="s-text">PTP</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/user/callback/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-package"></i></span>
                    <span class="s-text">Callback</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/user/emi-followup/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-gallery"></i></span>
                    <span class="s-text">EMI Followup</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="/settlement/" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-location-arrow"></i></span>
                    <span class="s-text">Settlement</span>
                </a>
            </li>

<!--            <li class="with-sub">-->
<!--                <a href="/payment-link/" class="waves-effect  waves-light">-->
<!--                    <span class="s-icon"><i class="ti-email"></i></span>-->
<!--                    <span class="s-text">Razorpay Link</span>-->
<!--                </a>-->
<!--            </li>-->

            {% endif %}
        </ul>
    </div>
</div>
