<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        td {
            text-align: center;
            vertical-align: middle;
        }

    </style>
</head>
<body>
    <p>Hello,</p>
    <p>Please confirm status of approval for below settlements.</p>

    <table border="1" cellspacing="0" cellpadding="0" width="1314" style="width:985.55pt;border-collapse:collapse;border: 1px solid grey">
        <thead>
            <tr>
                <th style="background-color: #d8d8d8">Sr. No.</th>
                <th style="background-color: #d8d8d8">Branch</th>
                <th style="background-color: #d8d8d8">Bucket</th>
                <th style="background-color: #d8d8d8">Application ID</th>
                <th style="background-color: #d8d8d8">Loan number</th>
                <th style="background-color: #d8d8d8">CUSTOMER NAME</th>
                <th style="background-color: #d8d8d8">TOS</th>
                <th style="background-color: #d8d8d8">POS</th>
                <th style="background-color: #d8d8d8">Settlement Amount</th>
                <th style="background-color: #d8d8d8">Settlement % on TOS</th>
                <th style="background-color: #d8d8d8">Waiver % on TOS</th>
            </tr>
        </thead>
        <tbody>
            {% for data in value %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{data.branch}}</td>
                <td>{{data.bucket}}</td>
                <td>{{data.application_id}}</td>
                <td>{{data.loan_agreement_number}}</td>
                <td>{{data.customer_name}}</td>
                <td>{{data.tos}}</td>
                <td>{{data.pos}}</td>
                <td>{{data.settlement_amount}}</td>
                <td>{{data.tos_percentage}} %</td>
                <td>{{data.tos_waiver_percentage}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<div>

<p class="MsoNormal"><span lang="EN-IN" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;color:#2f5496">Thanks &amp; Regards,<u></u><u></u></span></p>

<p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>

<p class="MsoNormal"><b><span lang="EN-IN" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;color:#2f5496">Settlement Approvals<u></u><u></u></span></b></p>

<p class="MsoNormal"><b><span lang="EN-IN" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;color:#2f5496">Ardent Solutions<u></u><u></u></span></b></p>

<p class="MsoNormal"><span lang="EN-IN" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;color:#2f5496"><u></u>&nbsp;<u></u></span></p>

<p class="MsoNormal"><span lang="EN-IN" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;color:#2f5496"><u></u>&nbsp;<u></u></span></p>

</div>



</body>
</html>