{% load static %}
<html lang="en">
	<head>
		<title>Login | Lintel</title>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'collection/theme/bootstrap4/css/bootstrap.min.css' %}?{{version}}">
		<link rel="stylesheet" href="{% static 'collection/theme/themify-icons/themify-icons.css' %}?{{version}}">
		<link rel="stylesheet" href="{% static 'collection/theme/font-awesome/css/font-awesome.min.css' %}?{{version}}">

		<!-- Neptune CSS -->
		<link rel="stylesheet" href="{% static 'collection/theme/css/core.css' %}?{{version}}">

		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">

	</head>
	<body class="img-cover">

		<div class="container-fluid">
			<div class="sign-form">
				<div class="row">
					<div class="col-md-4 offset-md-4 px-3">
						<div class="box b-a-0">
							<div class="p-2 text-xs-center">
								<h5>Login</h5>
							</div>
							<div class="modal-body" ng-app="myApp" ng-controller="loginCtl">
								<form class="form-material mb-1" id='login-form' name="form" novalidate>
<!--									{% csrf_token %}-->
									<div class="form-group">
										<input type="email" class="form-control" id="email" name='username'
											   ng-blur="validateInput(form.username)" ng-pattern="regex.email"
											   ng-model="username" placeholder="Email" required>
										<div class="alert-msg alert-danger"></div>
										<!--<input type="email" class="form-control" id="email" name='email' placeholder="Email">-->
									</div>
									<div class="form-group">
										<input type="password" class="form-control" id="password" name="password"
											   ng-model="password" ng-blur="validateInput(form.password)"
											   placeholder="Password" ng-change="password_validation(password, form.password)" required>
										<div class="alert-msg alert-danger"></div>
									</div>
									<div class="alert-msg alert-danger" ng-bind="login_error_message" ng-show="is_login_error"></div>


									<div class="form-group clearfix" >
<!--										<div class="float-xs-left">-->
<!--											<label class="custom-control custom-checkbox">-->
<!--											<input type="checkbox" class="custom-control-input">-->
<!--											<span class="custom-control-indicator"></span>-->
<!--											<span class="custom-control-description font-90">Remember me</span>-->
<!--											</label>-->
<!--										</div>-->
										<div class="float-xs-right">
<!--											<a class="text-black" href="#">Forgot password?</a>-->
										</div>
									</div>

									<div class="form-group">
										<button type="submit" id="doLogin" class="btn btn-purple btn-block text-uppercase"
										ng-click="doLogin()">Login</button>
										<span class="socialShare"> </span>
									</div>
							</form>
							</div>
<!--							<div class="p-2 text-xs-center text-muted">-->
<!--								Don't have an account? <a class="text-black" href="/signup/">-->
<!--								<span class="underline">Sign up</span></a>-->
<!--							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Vendor JS -->
		<script type="text/javascript" src="{% static 'collection/theme/jquery/jquery-3.3.1.min.js' %}?{{version}}"></script>
		<script type="text/javascript" src="{% static 'collection/theme/tether/js/tether.min.js' %}?{{version}}"></script>
		<script type="text/javascript" src="{% static 'collection/theme/bootstrap4/js/bootstrap.min.js' %}?{{version}}"></script>
		<script src="{% static 'collection/js/angular/angular.min.js' %}?{{version}}"></script>
		<script src="{% static 'collection/js/login.js' %}?{{version}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

	</body>

</html>